/* Global Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4a36c;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align the container at the top */
    min-height: 100vh; /* Ensure the body covers the entire viewport height */
    margin: 0;
}

/* Container Styling */
.container {
    width: 90%;
    min-height: 100vh; /* Make sure it at least fills the viewport height */
    background-color: #f9e1bc;
    border: 10px solid #f5b285;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    box-sizing: border-box; /* Include padding in height calculation */
}

/* Headings */
h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
}

/* Tutorial List */
.tutorial {
    text-align: left;
    margin: 20px 0;
    margin-top: 20px;
    padding-left: 20px;
    color: black;
    font-weight: 550;
}

.tutorial ol {
    padding-top: 20px;
}

.tutorial ol li {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.step-image {
    display: block;
    max-width: 100%;
    height: 600px;
    margin: 10px auto; /* Centers the image horizontally */
}

.back-button {
    position: absolute;
    top: 55px;
    left: 143px; /* Move to the left */
    cursor: pointer;
}

.back-button img {
    width: 55px;
    height: 55px;
}

