@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4a36c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    position: relative;
}

.back-button {
    position: absolute;
    top: 95px;
    left: 110px; /* Move to the left */
    cursor: pointer;
}

.back-button img {
    width: 50px;
    height: 50px;
}

.container {
    background-color: #f9e1bc;
    width: 90%;
    height: 105vh;
    border: 10px solid #f5b285;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align:  center;
    color: black;
    font-size: 35px; /* Increase font size for better visibility */
    margin: 0; /* Remove any default margin */
    padding-bottom: 10px; /* Add some space below the heading */
}

.content {
    font-size: 14px;
    line-height: 1.8;
    color: black;
    text-align: center;
}

.section-title {
    font-weight: bold;
    margin-top: 20px;
    color: #d87e39;
}

.contact-info {
    text-align: center;
    margin-top: 30px;
    font-style: italic;
}
